<app-nav-bar></app-nav-bar>



<div class="container d-flex justify-content-between" *ngIf="mostrar ;else listadoVacio">
    
        <table class="table">
            <h1>Listado de sus patentes registradas</h1>
        <div class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">
                        <button class="btn btn-lg btn-outline-success" (click)="savePatente()">Registrar patente</button>
                    </th>
                    <th scope="col"> <button class="btn btn-lg btn-outline-success" [routerLink]="['/miCuenta']" routerLinkActive="router-link-active">Mi cuenta</button></th>
                    <th scope="col">Mi saldo ${{saldo}}</th>
                </tr>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Numero de patente</th>
        
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let h of datos | slice: (page-1) * pageSize : page * pageSize; index as i">   
                        <td> <h3>{{i+1}}</h3></td>
                        <td>{{h?.numero}}</td>
                        <td>
                            <button class="btn btn-success" (click)= "verificarEstacionamiento(i+1)" [disabled]="estacionamientoOn">Iniciar estacionamiento</button>
                        </td>
                        <td >
                            <button class="btn btn-danger" (click)="editPatente(i+1)"> Editar</button>
                        </td>
                        <td >
                            <button class="btn btn-danger" (click)="eliminarPatente(i+1)"> Eliminar</button>
                        </td>
                </tr>
            </tbody>
            
            <ngb-pagination 
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="datos.length" >
            </ngb-pagination>
        
        </div>
    </table>
    <!-- VENTANA DONDE SE MUESTRA EL BOTON FINALIZAR ESTACIONAMIENTO Y CONTADOR DE TIEMPO TRANSCURRIDO -->
    <div class="card text-center" style="width: 20rem;" *ngIf="estacionamientoOn">
        <div class="card-body">
          <h2 class="card-title">Estacionamiento iniciado</h2>
          <h3 class="card-subtitle mb-2 text-muted">Recordatorio: Para iniciar un estacionamiento con otra patente primero debe finalizar el actual.</h3>
          
          <div class="content">
            <div>
                <h2>Tiempo transcurrido: <br> {{tiempoPrecio.horas + " "}}hs: {{tiempoPrecio.minutos+ " "}}min</h2>
                </div>
                <div >
                 <h2> Total a pagar: <br> ${{tiempoPrecio.precio}}<br></h2>
                 </div>
          </div>
             <button class="btn btn-danger" (click)= "verificarEstacionamiento(1)" [disabled]="!estacionamientoOn">Finalizar estacionamiento </button>
        </div>
      </div>
    
</div>

<ng-template #listadoVacio>
    <div class="containerVacio">
      <h1> No hay patentes registradas.</h1>
      <p>Registre una patente para administrar su estacionamiento.</p>
      <ng-container matColumnDef="registrar">
        <button class="btn btn-lg btn-outline-success" (click)="savePatente()">Registrar patente</button>
    </ng-container>
    </div>
  </ng-template>


    