<app-nav-bar></app-nav-bar>
<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
  <div class="container col-5 col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">{{
              "register.a.login" | translate
            }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/register">{{
              "register.a.create-account" | translate
            }}</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
          <div class="form-group">
            <label for="name">{{ "register.model.name" | translate }}</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              [(ngModel)]="name"
              required
            />
          </div>
          <div class="form-group">
            <label for="username">
              {{ "register.model.phone" | translate }}
            </label>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              placeholder="{{ 'register.alert.phone' | translate }}"
              [(ngModel)]="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">{{
              "register.model.password" | translate
            }}</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              [(ngModel)]="password"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">{{ "register.model.email" | translate }}</label>
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              [(ngModel)]="email"
              required
            />
          </div>
          <div class="form-group">
            <button
              class="btn btn-outline-success btn-block"
              [disabled]="!f.valid"
            >
              <i class="fas fa-sign-in-alt"></i>
              {{ "register.a.create-account" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
