<app-nav-bar></app-nav-bar>
<body>
  <div class="container col-5 col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body" style="text-align-last: center">
        <div class="container elements">
          <div class="card" style="background-color: #f3f4f4">
            <h1 style="color: #007bff">Bienvenido <br />{{ name }}</h1>
          </div>
          <h1 class="titulo mt-3">Sistema de estacionamiento</h1>
          <p class="lead">
            What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the
            leap
          </p>
          <button
            type="submit"
            class="btn btn-secondary mt-3"
            [routerLink]="['/myAccount']"
            routerLinkActive="router-link-active"
          >
            <i class="fas fa-user-circle"></i> Mi Cuenta
          </button>
          <button
            type="submit"
            class="btn btn-secondary mt-3"
            [routerLink]="['/listPatents']"
            routerLinkActive="router-link-active"
          >
            <i class="fas fa-tasks"></i> Gestionar estacionamiento
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
