<app-nav-bar></app-nav-bar>
<body >
<div class="container" >
    <h1>Listado de sus patentes registradas</h1>

    <!-- VENTANA DONDE SE MUESTRA EL BOTON FINALIZAR ESTACIONAMIENTO Y CONTADOR DE TIEMPO TRANSCURRIDO -->
    <ng-container class="estacionamiento" matColumnDef="Estacionamiento" *ngIf="estacionamientoOn">
        <mat-card class="card">
            <mat-card-title>Estacionamiento iniciado </mat-card-title>
            <mat-card-content>Recordatorio: Para iniciar un estacionamiento con otra patente primero debe finalizar el actual.</mat-card-content>
            <mat-card-actions>
                <div >
               Tiempo transcurrido: <br> {{time.hora + " "}}hs: {{time.minutos+ " "}}min<br>
               </div>
               <div style="padding: 5%;">
                Total a pagar: <br> ${{precio}}<br>
                </div>
              <button  mat-flat-button color="primary" (click)= "finalizarEstacionamiento()" [disabled]="!estacionamientoOn"> 
                Finalizar estacionamiento 
              </button>
            </mat-card-actions>
          </mat-card>
    </ng-container>  
<div class="contedor-listado">
    <!--BOTON REGISTRAR PATENTE -->
    <ng-container matColumnDef="registrar">
        <button mat-raised-button color="warn" style="background-color: darkolivegreen;" [routerLink]="['/registrarPatente']" routerLinkActive="router-link-active"  focusable="false">
            Registrar patente
        </button>
    </ng-container>

    <!-- INICIO DE LISTADO DE PATENTES.-->
    <table class="table" mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1 >

        <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef class="label-titulo"> Número </th>
        <td mat-cell *matCellDef="let modelPatente" class="label-texto"> {{modelPatente.numero}} </td>
        </ng-container>
        
        <ng-container matColumnDef="ver">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" style="background-color: darkolivegreen;" focusable="false" (click)= "iniciarEstacionamiento(j)" [disabled]="estacionamientoOn">
                Iniciar estacionamiento
            </button>
            </td>
        </ng-container>  

        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" style="background-color: darkorange;" focusable="false">
                Editar
            </button>
            </td>
        </ng-container>


        <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef> <h3>Mi saldo: ${{saldo}} </h3> </th>
            <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
                Eliminar
            </button>
            </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        
    </table>
</div>
</div>  

</body>

    