body{
  background-color: #dad6d65d;
}
.containerVacio{
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-top: 4px solid #3fbbc0;
}

.cardPatenteIniciada{
    text-align: -webkit-center;
    list-style-position: inside;
    inline-size: min-content;
        margin-left: 49%;
    position: absolute;
    margin-top: 2%;
}
