<app-nav-bar></app-nav-bar>

<div
  class="container d-flex justify-content-between"
  *ngIf="show; else emptyList"
>
  <table class="table">
    <h1>{{ "patent.list.html.title" | translate }}</h1>
    <div class="table">
      <thead>
        <tr>
          <th></th>
          <th scope="col">
            <button
              class="btn btn-lg btn-outline-success"
              (click)="savePatent()"
            >
              <i class="fas fa-plus-circle"></i>
              {{ "patent.list.html.button.register" | translate }}
            </button>
          </th>
          <th scope="col">
            <button
              class="btn btn-lg btn-outline-success"
              [routerLink]="['/myAccount']"
              routerLinkActive="router-link-active"
            >
              <i class="fas fa-user-circle"></i>
              {{ "patent.list.html.button.my_account" | translate }}
            </button>
          </th>
          <th scope="col">
            {{ "patent.list.html.table.my_balance" | translate }} ${{ balance }}
          </th>
          <th scope="col"></th>
        </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            {{ "patent.list.html.table.patent_number" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let h of listPatents | slice: (page - 1) * pageSize:page * pageSize;
            index as i
          "
        >
          <td>
            <h3>{{ i + 1 }}</h3>
          </td>
          <td>{{ h?.number }}</td>
          <td>
            <button
              class="btn btn-success"
              (click)="verifyParking(i + 1)"
              [disabled]="parkingOn"
            >
              <i class="fas fa-play-circle"></i>
              {{ "patent.list.html.button.start_parking" | translate }}
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="editPatent(i + 1)">
              <i class="fas fa-edit"></i>
              {{ "patent.list.html.button.edit" | translate }}
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deletePatent(i + 1)">
              <i class="fas fa-minus-circle"></i>
              {{ "patent.list.html.button.delete" | translate }}
            </button>
          </td>
        </tr>
      </tbody>

      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="listPatents.length"
      >
      </ngb-pagination>
    </div>
  </table>
  <!-- VENTANA DONDE SE MUESTRA EL BOTON FINALIZAR ESTACIONAMIENTO Y CONTADOR DE TIEMPO TRANSCURRIDO -->
  <div class="card text-center" style="width: 20rem" *ngIf="parkingOn">
    <div
      class="card-body"
      style="background-color: #dadada; border-style: outset"
    >
      <h2 class="card-title">
        {{ "patent.list.html.text.parking_started" | translate }}
      </h2>
      <h3 class="card-subtitle mb-2 text-muted">
        {{ "patent.list.html.text.reminder" | translate }}
      </h3>

      <div class="card content" style="background-color: #aaaaa9">
        <div>
          <br />
          <h3>
            {{ "patent.list.html.text.patent_started" | translate }}: <br />{{
              TimePrice.patent
            }}
          </h3>
          <h3>
            {{ "patent.list.html.text.time_elapsed_started" | translate }}:
            <br />
            {{ TimePrice.hours + " " }}hs: {{ TimePrice.minutes + " " }}min
          </h3>
        </div>
        <div>
          <h3>
            {{ "patent.list.html.text.total_pay_started" | translate }}: <br />
            ${{ TimePrice.price }}<br />
          </h3>
          <br />
        </div>
        <button
          class="btn btn-danger"
          (click)="verifyParking(-1)"
          [disabled]="!parkingOn"
        >
          <i class="fas fa-stop-circle"></i>
          {{ "patent.list.html.button.end_parking" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyList>
  <div class="containerVacio">
    <h1>No hay patentes registradas.</h1>
    <p>Registre una patente para administrar su estacionamiento.</p>
    <ng-container matColumnDef="registrar">
      <button class="btn btn-lg btn-outline-success" (click)="savePatent()">
        {{ "patent.list.html.button.register" | translate }}
      </button>
    </ng-container>
  </div>
</ng-template>
