<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container text-center">
   <div *ngIf="isLogged; else loggedOut"><h2>Bienvenidoo!! {{nombreUsuario}}</h2></div>
   <ng-template #loggedOut><h2>No has iniciado sesión</h2></ng-template>
   <button type="submit" class="btn btn-secondary mt-3" [routerLink]="['/login']" routerLinkActive="router-link-active" >Iniciar sesion</button>
 
</div>
    <router-outlet></router-outlet>